#Vol{
	margin-left:3px;
}
.volume {
	margin-left: 3px;
	position: relative;
	width: 45px;
}

.volume a {
	background: #ebebeb;
	width: 8px;
	border-left: 1px solid #fff;
	position: absolute;
	bottom: 0;	
}


a.v1 { height: 5px;  left: 0px; }
a.v2 { height: 10px; left: 9px; }
a.v3 { height: 15px; left: 18px; }
a.v4 { height: 20px; left: 27px; }
a.v5 { height: 25px; left: 36px; }
a.vert{background-color : #06ED15;}
a.jaune{background-color : #EAF201;}
a.rouge{background-color: #F22101;}

.progress-bar {
    background: #33b5d5;
    border-radius: 5px;
    height: 100%;
    position: relative;
    width: 0;
}
.progress {
    width: 30%;
    height: 20px;
    border-radius: 5px;
    background: #676767;
    float: left;
    cursor: pointer;

    padding: 0;
    position: relative;
}
.button-holder {
	position: relative;
	left: 10px;
}
.progress-button {
	background: #fff;
	border-radius: 30px;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -20px;
	text-decoration: overline;
}